.Body {
  width: 100%;
  height: 100%;
  .button:active {
    background-color: #fffaef;
    color: black;
  }
  .SecondBody {
    background: #e5e5e5;
    width: 100%;
    height: 100%;

    .ThirdBody {
      background: rgb(255, 255, 255);
      margin: 0rem 15rem 0rem 15rem;
      .OrderContainer {
      }
      .AddressUser {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 3.5rem;
        h3 {
          color: #828282;
          margin-bottom: 0.5rem;
          width: 100%;
        }
      }
      .ProductOrder {
        position: absolute;
        top: 10rem;
        left: -10rem;
        h3,
        h4 {
          color: #828282;
        }
      }

      .ProductContent {
        background: #fffaef;
        width: 40%;

        .ProductList {
          background: #fffaef;
          margin: 0rem 0rem 4rem 3rem;
        }
      }
      .ProductDetails {
        margin-left: 2.5rem;

        h3,
        h5 {
          color: black;
          margin: 1rem 0 0rem 1rem;
        }

        .ProductContainer {
          display: flex;
          justify-content: space-between;
        }

        .MenuList {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          h5 {
            margin: 0;
          }
        }
      }
      .PaymentContentDetails {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
