label {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.labelRegis {
  margin-top: 20px;
}

.text-regis {
  margin-left: 88px;
  width: 700px;
}

@media only screen and (max-width: 1280px) {
  .text-regis {
    margin-left: 88px;
    width: 600px;
  }
}

@media only screen and (max-width: 900px) {
  .text-regis {
    margin-left: 60px;
    width: 500px;
  }
}
