.card-one {
  width: 295px;
  height: 379px;
}

@media only screen and (max-width: 1230px) {
  .card-one {
    width: 280px;
    height: 379px;
  }
}
@media only screen and (max-width: 1024px) {
  .card-one {
    width: 150px;
    height: 279px;
  }
}
