@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
// @import "../../breakpoints/Breakpoints.scss";

.navbar {
  background-color: #f9c959;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  // @include media("<=desktop") {

  // }
  // @include media("<=tablet") {
  //   align-items: center;
  //   padding: 1rem 3.5rem;
  // }

  // @include media("<=phone") {
  //   padding: 1rem;
  // }

  .navbarContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }

  .logo {
    width: 40px;
    height: 35px;

    // @include media("<=tablet") {
    //   width: 8.5rem;
    // }
    // @include media("<=phone") {
    //   width: 8rem;
    //   margin-top: 0.5rem;
    // }
  }
}
