.direct-section {
  height: 1093px;
  background: #f7f4f2;
  display: flex;
  padding: 46px 0px 46px 140px;
}

.direct-desc {
  width: 259px;
  height: 225px;
  background: #ffffff;
  margin-right: 32px;
}

.input-direct {
  width: 854px;
  height: 579px;
  background: #ffffff;
  padding: 42px 56px 60px 38px;
}

.direct-desc h4 {
  margin: 0;
}

.direct-text {
  padding: 21px 52px 49px 36px;
}

@media only screen and (max-width: 1280px) {
  .direct-section {
    padding: 46px 0px 46px 70px;
  }
}

@media only screen and (max-width: 900px) {
  .direct-section {
    height: 1093px;
    background: #f7f4f2;
    display: block;
    padding: 46px 0px 46px 0px;
  }

  .direct-text {
    display: flex;
    padding: 21px 0px 21px 36px;
  }

  .direct-text img {
    padding-right: 55px;
  }

  .direct-desc {
    width: 700px;
    height: 70px;
    border-radius: 50px;
    background: #ffffff;
    margin-left: 100px;
  }

  .input-direct {
    width: 854px;
    height: 920px;
    background: #ffffff;
    padding-top: 20px;
    padding-bottom: 60px;
    margin-left: 20px;
    margin-top: 20px;
  }
}
