.ingred-section {
  height: 1093px;
  background: #f7f4f2;
  display: flex;
  padding: 46px 0px 46px 140px;
}

.ingred-desc {
  width: 259px;
  height: 225px;
  background: #ffffff;
  margin-right: 32px;
}

.ingred-desc h4 {
  margin: 0;
}

.ingred-text {
  padding: 21px 52px 49px 36px;
}

.input-ingred {
  width: 854px;
  height: 579px;
  background: #ffffff;
  padding: 42px 56px 60px 38px;
}

.list {
  display: flex;
}

.list h4 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  padding: 35px 40px 0 0;
  margin: 0;
}

.list h5 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  margin: 0 0 6px 0;
}
